
body {
    font-family: 'Libre Franklin', sans-serif;
    background-image: url(content/papers-full.jpeg);
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: center;
    background-size: cover;
    /*padding-top: 70px;*/
}



}
.row {
  /*max-width: 100px;*/
      /*padding: 80px;*/
        position: absolute; 
   top: 100px; 
   left: 30px;
   width: 120%; 
        /*position: relative;*/
      /*margin: 0 auto;*/
}

.text-over-image {
	background-color: rgba(0,0,0,0.4);
	color:white;
}

.rounded {
	border-radius: 12px;
}

.intro {
	padding: 15px;
}

.col-xs-12  col-md-6  text-over-image  rounded intro {
        margin: 0 auto;

}


  /*.navbar,.navbar a {*/
      /*padding: 10px;*/
      /*background: rgba(0,0,0,0.5);*/
      	/*color: white;*/

    }

/*.navbar-default a.navbar-brand {*/
   /*color: white;*/
} 



